# Секреты
.env             # Исключаем файл с API-ключами

# Виртуальное окружение
venv/            # Локальные зависимости
.venv/           # Альтернативное название

# Кэш Python
__pycache__/     # Байт-код интерпретатора
*.pyc            # Скомпилированные файлы

# IDE
.idea/           # PyCharm
.vscode/         # VS Code
